:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --violet: #6550EA;
  --violet-light: #716b9d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  margin: 0px;
  height: 100vh !important;
  overflow: hidden !important;
  width: 100vw;
  color: black;
  font-family: Verdana;
  position: relative;
}

a {
  text-decoration: none;
}

.card {
  border: 0px;
  background-color: var(--violet);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card-title{
  font-weight: 700;
}

.table{
  width: 100%;
}

th{
  color: var(--violet);
}

.form-select{
  outline: none;
  border-radius: 3px;
  border: 1px solid var(--violet);
  width: 100%;
  padding: 2px;
}